/* Font family */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Monsenrrat';
        src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
        font-weight: 100 1000;
        font-stretch: 25% 151%;
        font-display: swap;
    }
}

/* Reset browser default style */

/* Box sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Make from element easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Accessibility */
html {
    font-family: 'Monsenrrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5% !important;
    font-weight: 500;
    color: var(--text-color);
    scroll-behavior: smooth;
}

/* Gobal variables */
:root {
    /* Palette colors */
    --primary-color: #CADC31;
    --blue-tl: #1B1F3B;
    --text-color: #242B4C;
    --text-color-purple: #6782CC; 
    --font-color: #FFFFFF;
    --link-color: #3f54a0;
    --sw-card: 2px 5px 10px rgba(0, 0, 0, 0.25);
    --title-color: #1D2651;
    --txt-color: #1B1F3B;
    --bckg-main: #E5E5E5;

    /* Font sizes */
    --lg-xxx: 5rem;
    --lg-xx: 4rem;
    --lg-x: 2.5rem;
    --lg: 2rem;
    --md: 1.8rem;
    --sm: 1.6rem;
    --sm-x: 1.5rem;
    --sm-xx: 1.4rem;
    --sm-xxx: 1.3rem;
}

/*********************************************************/
/************         UTILITY CLASS         **************/
/*********************************************************/

.hidden {
    display: none;
}

.slider {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    list-style: none;
}

.slider__item {
    scroll-snap-align: center;
}

.line-bottom {
    border-bottom: 1px solid #AFB0B8;
}

.line-top {
    border-top: 1px solid #AFB0B8;
}

.line-right {
    border-right: 1px solid #AFB0B8;
}

.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    font: inherit;
    color: inherit;
    border: 1px solid #CFD3DB;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.w-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

/*********************************************************/
/************         ICONS CLASS           **************/
/*********************************************************/

.icon-logo-tl {
    width: 68px;
    height: 68px;
    background-image: url('/assets/icons/logo-tl.png');
}

.icon-gps {
    width: 56px;
    height: 56px;
    background-image: url('/assets/icons/gps.svg');
    cursor: pointer;
    margin-bottom: 12px;
}

.icon-flag {
    width: 18px;
    height: 18px;
    background-image: url('/assets/icons/flag.svg');
}

.icon-origin {
    width: 24px;
    height: 38px;
    background-image: url('/assets/icons/origin.svg');
}

.icon-destiny {
    width: 24px;
    height: 38px;
    background-image: url('/assets/icons/search.svg');
}

.icon-point-destiny {
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border: 3px solid var(--blue-tl);
    border-radius: 50%;
}

.icon-arrow-dark {
    width: 9px;
    height: 14px;
    background-image: url('/assets/icons/arrow-dark.svg');
}

.icon-arrow-dark-left {
    width: 23px;
    height: 23px;
    border: none;
    background: none;
    filter: none;
    background-image: url('/assets/icons/arrow-left-dark.svg');
}

.icon-arrow-dark-right {
    width: 22px;
    height: 22px;
    background-image: url('/assets/icons/arrow-dark-right.svg');
}

.icon-arrow-white {
    width: 7px;
    height: 12px;
    background-image: url('/assets/icons/arrow-white.svg');
}

.icon-nequi {
    width: 34px;
    height: 34px;
    background-image: url('assets/icons/nequi.svg');
}

.icon-car {
    width: 62px;
    height: 38px;
    background-image: url('assets/icons/car.svg');
}

.icon-small-car {
    width: 52px;
    height: 28px;
    background-image: url('/assets/icons/small-car.svg');
}

.icon-point-blue {
    width: 18px;
    height: 18px;
    background-image: url('/assets/icons/point-blue.svg');
}

.icon-pointer-blue {
    width: 30px;
    height: 30px;
    background-image: url('/assets/icons/pointer-blue.svg');
}

.icon-pointer-green {
    width: 32px;
    height: 32px;
    background-image: url('/assets/icons/pointer-green.svg');
}

.icon-pointer-dark {
    width: 30px;
    height: 54px;
    background-image: url('/assets/icons/pointer-dark.svg');
}

.icon-search {
    width: 24px;
    height: 38px;
    background-image: url('/assets/icons/pointer-dark.svg');
}

.icon-clock {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #919298;
    background-image: url('/assets/icons/clock.svg');
    background-size: 19px;
}

.icon-person-talking {
    width: 34px;
    height: 32px;
    background-image: url('/assets/icons/person-talking.svg');
}

.icon-sequences-points {
    position: absolute;
    top: 114px;
    left: 20px;
    width: 4px;
    height: 36px;
    background-image: url('/assets/icons/sequences-points.svg');
}

.icon-x {
    width: 16px;
    height: 16px;
    background-image: url('/assets/icons/equis.svg');
}

.icon-messenger-call {
    width: 24px;
    height: 22px;
    background-image: url('/assets/icons/messengar-and-call.svg');
}

.icon-share {
    width: 24px;
    height: 22px;
    background-image: url('/assets/icons/share.svg');
}

.icon-star-small {
    width: 17px;
    height: 17px;
    background-image: url('/assets/icons/star-green.svg');
}

/*********************************************************/
/************         BUTTONS CLASS         **************/
/*********************************************************/

.btn-menu {
    width: 48px;
    height: 48px;
    background-color: var(--blue-tl);
    background-image: url('/assets/icons/menu.svg');
    background-size: 24px 18px;
}

.btn-back {
    width: 48px;
    height: 48px;
    background-image: url('/assets/icons/arrow-left-dark.svg');
}

.btn-gift {
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    background-image: url('/assets/icons/gift.svg');
    background-size: 25px;
}

.btn-green {
    background-color: #CBD73F;
    font-weight: 600;
}

.btn-ligth-blue {
    background-color: #889CD3;
    color: #242B4C;
}

.btn-dark-blue {
    background-color: #242B4C;
    color: #D3DF3F;
}

.btn-round {
    border-radius: 50%;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-center-content {
    justify-content: center;
    column-gap: 9px;
}

.btn-indicater {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: start;
    align-items: center;
    column-gap: 24px;
}

.btn-indicater > span.icon {
    grid-column: 1;
    grid-row: 1/3;
}

.btn-indicater > p.fs-13 {
    grid-column: 2;
    grid-row: 1;
}

.btn-indicater > p.fs-20 {
    grid-column: 2;
    grid-row: 2;
}

.btn-alternative {
    border: none;
    filter: none;
    color: #F55D5D;
}

.btn-lg-xxx {
    padding: 18px 20px;
    width: 100%;
    border-radius: 12px;
}

.btn-sm {
    padding: 18px 62px;
}

/*********************************************************/
/************         PADDING CLASS         **************/
/*********************************************************/

.p-28-20 {
    padding: 28px 20px;
}

.p-14-18 {
    padding: 14px 18px;
}

.py-12 {
    padding: 12px 0;
}

.px-2 {
    padding-inline: 8px;
}

.px-3 {
    padding-inline: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-12 {
    padding-top: 12px;
}

/*********************************************************/
/************         MARGIN CLASS          **************/
/*********************************************************/

.mt-4 {
    margin-top: 16px;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-4 {
    margin-left: 16px;
}

.ml-8 {
    margin-left: 24px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.m-28-20 {
    margin-top: 28px;
    margin-right: 20px;
}
/*********************************************************/
/************         FONT CLASS            **************/
/*********************************************************/

.fs-20 {
    font-size: var(--lg);
    line-height: 2.438rem;
}

.fs-19 {
    font-size: 1.9rem;
    line-height: 2.316rem;
}

.fs-18 {
    font-size: var(--md);
    line-height: 2.194rem;
}

.fs-17 {
    font-size: 1.7rem;
    line-height: 2.072rem;
}

.fs-16 {
    font-size: var(--sm);
    line-height: 1.95rem;
}

.fs-15 {
    font-size: var(--sm-x);
    line-height: 1.829rem;
}

.fs-14 {
    font-size: var(--sm-xx);
    line-height: 1.876rem;
}

.fs-13 {
    font-size: var(--sm-xxx);
    line-height: 1.518rem;
}

.fw-800 {
    font-weight: 800;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.color-purple {
    color: var(--text-color-purple);
}

/*********************************************************/
/************         INPUTS CLASS          **************/
/*********************************************************/

.container__input {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    column-gap: 8px;
    width: 100%;
    height: 64px;
    font-size: 1.9rem;
}

.container__input__label {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    font-size: inherit;
    transition: 
        font-size ease-in 200ms,
        top ease-in-out 200ms;
}

.container__input__text {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    padding-top: 12px;
    font-weight: 600;
    background-color: #EDEDED;
    border: 1.4px solid #CFD3DB;
    border-radius: 12px;
}

.container__input__text:valid {
    background-color: initial;
    border: 1.4px solid #242B4C;
    border-radius: 12px;
}

.container__input__text:focus + .container__input__label {
    font-size: var(--sm-x);
    top: 28%;
}

.container__input__text:valid + .container__input__label {
    font-size: var(--sm-x);
    top: 28%;
}

/*********************************************************/
/************         POINTERS CLASS        **************/
/*********************************************************/

.pointer__bubble {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: end;
    column-gap: 18px;
    width: fit-content;
    border-radius: 12px;
    padding: 8px 0;
    padding-left: 38px;
    padding-right: 16px;
    background-color: var(--blue-tl);
    box-shadow: 0px 6px 6px 0px #00000029;
}

.pointer__bubble::after {
    content: '';
    position: absolute;
    transform: translateY(100%);
    bottom: 1px;
    border-top: 12px solid var(--blue-tl);
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
}

.pointer__bubble__title {
    grid-column: 1;
    color: #649EFF;
}

.pointer__bubble__location {
    grid-row: 2;
    color: #FEFFFE;
}

.pointer__bubble > .icon-arrow-white {
    grid-column: 2;
    grid-row: 1/3;
}

.container-current-location {
    position: absolute;
    top: 50%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}

/*********************************************************/
/************         SECTION FLEX CLASS    **************/
/*********************************************************/

.flex {
    display: flex;
}

.jf-c-between {
    justify-content: space-between;
}

/*********************************************************/
/************         SECTION GRID CLASS    **************/
/*********************************************************/

.grid-h-full {
    grid-column: 1/7;
}

.grid-col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-row-5 {
    grid-template-rows: min-content 1fr repeat(2, min-content) 128px;
}

.grid-row-4 {
    grid-template-rows: min-content 1fr repeat(2, min-content);
    row-gap: 4px;
}
.grid-row-3 {
    grid-template-rows: 1fr repeat(2, min-content);
    row-gap: 34px;
}

.grid-corner-top-right {
    grid-column: 6;
    grid-row: 1;
}

.grid-corner-top-left {
    grid-column: 1;
    grid-row: 1;
}

.grid-right-row-3 {
    grid-column: 6;
    grid-row: 3;
}

.grid-right-row-4 {
    grid-column: 6;
    grid-row: 4;
}

.row-3 {
    grid-row: 3;
}

.row-4 {
    grid-row: 4;
}

.row-5 {
    grid-row: 5;
}

.col-2-4 {
    grid-column: 2/4;
}

.col-3-5 {
    grid-column: 3/5;
}

.col-5 {
    grid-column: 5;
}

.align-sf-end {
    align-self: end;
}

/*********************************************************/
/************         SECTION MAP           **************/
/*********************************************************/

.container__map {
    height: 100vh;
    overflow: hidden;
}

.content__map {
    position: relative;
    height: inherit;
    background-image: url('/assets/imgs/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*********************************************************/
/************         SECTION VIEW START    **************/
/*********************************************************/

.view-start,
.view-found-taxi,
.view-i-have-arrived,
.view-cancel-trip,
.view-found-taxi__content {
    height: 100%;
}

.view-start__content,
.view-cancel-trip__content,
.view-i-have-arrived__content {
    display: grid;
    height: 100%;
    justify-items: center;
}

/*********************************************************/
/************ SECTION VIEW HERE PICK ME UP  **************/
/*********************************************************/

.view-here-pick-me-up,
.view-where-i-go {
    width: 100%;
    height: 100%;
    background-color: var(--font-color);
}

.container__enter__locations {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 28px 12px;
    padding-bottom: 16px;
    box-shadow: 0px 3px 7px 0px #00000029;
    border-radius: 0 0 32px 32px;
}

.container__enter__locations > :first-child {
    margin-bottom: 8px;
}

.container__suggested__locations {
    height: calc(100vh - 219px);
}

.suggested__location {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.suggested__location__text {
    font-size: var(--sm-x);
}

/*********************************************************/
/************ SECTION VIEW MY LOCATION      **************/
/*********************************************************/

.view-my-location,
.view-my-destiny,
.view-route,
.view-with-destiny {
    height: 100%;
}

/*********************************************************/
/************ SECTION VIEW ROUTE            **************/
/*********************************************************/

.view-route__content {
    grid-template-rows: 1fr min-content;
}

.view-line-route {
    display: grid;
    width: 100%;
}

.container__could-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}

.could-location {
    width: fit-content;
    height: 35px;
    padding: 8px 16px;
    white-space: nowrap;
    background-color: var(--font-color);
    border-radius: 12px;
    box-shadow: 0px 6px 6px 0px #00000029;
}

.top-10 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.top-25 {
    position: absolute;
    top: 25%;
    left: 63%;
}

.container__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 32px;
    background-color: var(--font-color);
    box-shadow: 0px -2px 6px 0px #0000001A;
    border-radius: 12px 12px 0 0;
}

.container__bottom::before {
    content: '';
    display: inline-block;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 22px;
    width: 56px;
    height: 6px;
    background-color: #DEDDE6;
    border-radius: 12px;
}

.content__bottom {
    width: 100%;
}

.container__bottom > button.btn {
    width: 90%;
}

.row__bottom {
    width: 100%;
    padding: 18px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column__bottom {
    text-align: right;
}

.align-icon-text {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

/*********************************************************/
/************ SECTION VIEW ROUTE            **************/
/*********************************************************/

.content__bottom__destiy {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.row__bottom__destiny {
    margin: 14px 0;
}

.row__bottom__destiny-with-icon {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, min-content);
}

.row__bottom__destiny-with-icon > .icon {
    grid-column: 2;
    grid-row: 1/3;
}

.row__bottom__destiny-with-icon > p:first-child {
    grid-column: 1;
    grid-row: 1;
}

.row__bottom__destiny-with-icon > p:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.content__bottom__destiy > .row__bottom__destiny:nth-child(-2n+3) {
    border-right: 1px solid #AFB0B8;
}

.gif__bottom {
    width: 212px;
    aspect-ratio: 4/3;
}

.view-with-destiny .container__bottom {
    box-shadow: 0px -500px 0px rgba(0,0,0,0.2);
}

/*********************************************************/
/************         SECTION VIEW START    **************/
/*********************************************************/

.view-found-taxi__content {
    display: grid;
}

.container__info-driver {
    padding: 14px;
    background-color: var(--font-color);
    border-radius: 12px 12px 0 0;
    box-shadow: 0px -2px 6px 0px #0000001A;
}

.info-driver__img {
    position: absolute;
    top: -32px;
    width: 86px;
    aspect-ratio: 1/1;
    background-color: rebeccapurple;
    border-radius: 8px;
    object-fit: contain;
}

.info-driver__space-img {
    width: 86px;
    height: 54px;
    border: none;
    border-radius: 8px;
}

.info-driver__row {
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: min-content repeat(3, 1fr) min-content;
}

.info-driver__column {
    display: flex;
    row-gap: 6px;
    flex-direction: column;
}

.info-driver__row__buttons {
    grid-template-columns: min-content repeat(2, 1fr);
    column-gap: 9px;
}

/*********************************************************/
/************  SECTION VIEW I HAVE ARRIVED   **************/
/*********************************************************/

.container__option-arrived {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 28px;
    background-color: var(--font-color);
    box-shadow: 0px -2px 6px 0px #0000001A;
    border-radius: 12px 12px 0 0;
}